<footer class="d-none d-lg-block border-top color-navbar ">
  {{!-- Devs --}}
  <div class="d-flex flex-row justify-content-center text-white ">
    <p class="m-3">Desarrollado por estudiantes de ITESI</p>

    <a class="m-3" href="#!" role="button">
      <i class="bi bi-share-fill text-white"> Compartir</i>
    </a>

    <a class="m-3" href="#!" role="button">
      <i class="bi bi-code-slash text-white"> Acerca de</i>
    </a>
  </div>

</footer>