<header class="nav-color">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="#">
                <i class="bi bi-truck-front my-1"></i>
                <span class="fw-bold">ATI🍓</span></a>

            <a href="/" class="btn btn-warning nav-link p-2">Página principal</a>

        </div>
    </nav>
</header>