<header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                <i class="bi bi-truck-front my-1"></i>
                <span class="fw-bold">ATI🍓</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#itemsNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="itemsNav">

                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link" href="/ver-rutas">
                        <i class="bi bi-eye"></i>
                        Ver rutas
                    </a>
                </div>

                <a href="/" class="nav-link btn btn-warning p-2">Página principal</a>

            </div>
        </div>
    </nav>
</header>